.gradient-text {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 15s ease infinite;
    -moz-animation: GradientAnimation 15s ease infinite;
    animation: GradientAnimation 15s ease infinite;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  @keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  